<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration>
    <!-- # The five logging levels used by Log are (in order):
    #
    #   1. DEBUG (the least serious)
    #   2. INFO
    #   3. WARN
    #   4. ERROR
    #   5. FATAL (the most serious)
     -->

    <appender name="CORE" class="org.apache.log4j.RollingFileAppender">
        <!-- The active file to log to -->
        <param name="File" value="/sm-core.log" />
        <param name="MaxFileSize" value="10000KB"/>
        <param name="Append" value="true" />
        <param name="Encoding" value="UTF-8" />
        <param name="Threshold" value="debug" />
        <layout class="org.apache.log4j.PatternLayout">
            <!-- The log message pattern -->
            <param name="ConversionPattern" value="%d{dd MMM yyyy HH:mm:ss} [%5p] (%F:%L) [%M] - %m%n" />
        </layout>
    </appender>


    <appender name="WEB" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="/sm-shop.log" />
        <param name="Append" value="true" />
        <param name="Encoding" value="UTF-8" />
        <param name="Threshold" value="debug" />

        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{dd MMM yyyy HH:mm:ss} [%5p] (%F:%L) [%M] - %m%n" />
        </layout>
    </appender>

    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%p %c: %m%n"/>
        </layout>
        <!-- 输出级别为INFO -> ERROR -->
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="DEBUG" />
            <param name="LevelMax" value="ERROR"/>
        </filter>
    </appender>

    <logger name="com.salesmanager.core" additivity="false">
        <level value="debug"/>
        <appender-ref ref="CORE" />
    </logger>

    <logger name="com.salesmanager.web" additivity="false">
        <level value="debug"/>
        <appender-ref ref="WEB" />
    </logger>

    <logger name="com.salesmanager.console" additivity="false">
        <level value="debug"/>
        <appender-ref ref="CONSOLE" />
    </logger>

    <root>
        <priority value="debug" />
        <appender-ref ref="CONSOLE" />
    </root>

</log4j:configuration>